[submodule "community-wgsl"]
	path = community-wgsl
	url = https://github.com/wgsl-tooling-wg/community-wgsl
	update = merge
[submodule "wesl-testsuite"]
	path = wesl-testsuite
	url = https://github.com/wgsl-tooling-wg/wesl-testsuite.git
	update = merge
[submodule "cts"]
	path = cts
	url = https://github.com/wgsl-tooling-wg/cts.git
	update = merge
