[submodule "wesl-testsuite"]
	path = wesl-testsuite
	url = https://github.com/wgsl-tooling-wg/wesl-testsuite.git
	update = merge
	branch = main
[submodule "cts"]
	path = cts
	url = https://github.com/wgsl-tooling-wg/cts.git
	update = merge
