# macOS
.DS_Store

# vi temp files
*.swp

# typescript build info cache files 
*.tsbuildinfo

# ignore node_modules when switching to pre-monorepo branches
node_modules

# vite temp files
vite.config.ts.timestamp-*.mjs

# previous rev of tools for benchmark comparisons
_baseline

# test built packages
/temp-built-test/
/temp-packages/

# don't clutter the repo with ai
.claude
copilot-instructions.md
CLAUDE.md
GEMINI.md
agent-*.md
.agent
